@model BlogMotoru00.Models.Category

@{
    ViewBag.Title = "Edit";
}
<div class="5grid-layout" id="welcome">
		<div class="row">
			<div class="12u mobileUI-main-content">
				<section class="content">
<h2>Kategori Düzenle</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.CategoryId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Kaydet" />
        </p>
   
}

<div class="donlink">
    @Html.ActionLink("<< Kategori Listesine Dön", "Index")
</div>
</section></div></div></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
