@model BlogMotoru00.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<div class="5grid-layout" id="welcome">
		<div class="row">
			<div class="12u mobileUI-main-content">
				<section class="content">
					
					<section id="loginForm">
<h2>Giriş</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <ol>
            <li>
                @Html.LabelFor(m => m.UserName,"Kullanici adi:")
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password,"Parola:")
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Giriş" />

    @*<p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>*@
}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
				*@</section>
			</div>
		</div>
	</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
