@model BlogMotoru00.Models.Post

@{
    ViewBag.Title = Model.Title;
}
<div class="5grid-layout" id="welcome">
		<div class="row">
			<div class="12u mobileUI-main-content">
				<section class="content">
					<h2>@Model.Title</h2>
                    
                     <div class="display-field">
                     @Html.DisplayFor(model => model.Body)
                     </div>
                     
					
					<p><a href="@Url.Action("CPosts", "Home", new { Cid = Model.CategoryId })" class="button-style1">Kategori : @Model.Categories.Name</a><span class="button-style1">@Model.Date </span></p>
				</section>
			</div>
		</div>
	</div>
@*<fieldset>
    <legend>Post</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>


    <div class="display-field">
        Kategori : @Model.Categories.Name
        @Html.DisplayFor(model => model.Date)
       
    </div>
</fieldset>*@

