@model IEnumerable<BlogMotoru00.Models.Page>

@{
    ViewBag.Title = "Index";
}
<div class="5grid-layout" id="welcome">
		<div class="row">
			<div class="12u mobileUI-main-content">
				<section class="content">
<h2>Sayfalar</h2>

<p>
    @Html.ActionLink("Yeni Sayfa Oluştur", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.PageId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.PageId })
        </td>
    </tr>
}

</table>
<div class="donlink">
    @Html.ActionLink("<< Yayın Listesine Dön", "Index","Post")
</div>
                    </section></div></div></div>